<div id="background_searches" class="searches_page">
  <div class="users_container">
    <div id="main_div">
    <h2>Today's Events</h2>
      <div id="plate" class="front">
        <textarea class="message">
        Dear User,
          Click this button for fun. :)
        Love, App Maker
        </textarea>
        <button class="send"> Press Me </button> <br/>
      </div>

     <div id="container" class="beginning">
        <div id="left-wing">
            <div class="top_left curvable"> </div>
            <div class="bottom_left curvable"> </div>
            <div class="wing wing1"></div>
            <div class="wing wing2"></div>
        </div>

        <div id="right-wing">
            <div class="top_right curvable"> </div>
            <div class="bottom_right curvable"> </div>
            <div class="wing wing3"></div>
            <div class="wing wing4"></div>
        </div>
    </div>

    </div>
  </div>
</div>
