<div id="background_searches">
  <div class="users_container">
    <div class="results">
      <div class="search_box">
      <img src="assets/sports.jpg" alt="picture of " title="picture of " class="search_category_images"/>
      <h2>Sports Search</h2>
        <div id='sportsDates'>
          <input id="start" type="date" name="start_date">
          <input id="end" type="date" name="end_date">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input id="sport_submit" type="submit" value="Go!">
        </div>
      </div>
    </div>
   </div>
</div>
