<div id="background_users_show">
  <div class="users_container">
    <div class="results">

      <div class="row" id="main_div_user">
        <h3>Profile</h3>
        <% if current_user %>
          <img src="<%= current_user.image %>" width="60px" height="60px"/>
          <br>
          <br>
          <ul class="profile">
            <li><span class="label">Name: </span><%= current_user.name%></li>
            <li><span class="label">Email:</span> <%= current_user.email%></li>
            <li><span class="label">Member since: </span><%= current_user.created_at%></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
