

<!-- 2nd DIV - CAROUSEL HERO DIV-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="assets/nyc6.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Rendezvous NYC</h1>
            <p>Find a fun event for your date for $50 or less!</p>
            <p><a class="btn btn-lg btn-primary" href="/users/search" role="button">Search Now</a></p>
          </div>
        </div>
      </div>
      <div class="item active">
        <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="assets/nyc13.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>So many fun things to do!</h1>
            <p>If only you could find them all in 1 spot!</p>
            <p><a class="btn btn-lg btn-primary" href="/users/search" role="button">Search Now</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="assets/central_park.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Pick a date.</h1>
            <p>We'll tell you what's going on.</p>
            <p><a class="btn btn-lg btn-primary" href="/users/search" role="button">Search Now</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

<!-- 3rd DIV with circle images - called "Featurettes" -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="assets/circle5.jpg" style="width: 140px; height: 140px;">
      <h2>Outdoor Sports</h2>
      <p>Kayaking, Sailing, Surfing, or Hiking.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="assets/circle1.jpg" style="width: 140px; height: 140px;">
      <h2>Nature</h2>
      <p>Find outdoor plays and have a picnic.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="assets/circle2.jpg" style="width: 140px; height: 140px;">
      <h2>Live Bands</h2>
      <p>Live bands and wine tastings.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!-- START THE FEATURETTES TEXT -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Hidden Treasures.</h2>
      <h1><span class="text-muted">It'll blow your mind.</span></h1>
      <p class="lead">Sometimes it's just about knowing what's out there.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/circle3.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/nyc1.jpg">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">So many things to do...so little time.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Great dates are gems in your memory - they last forever.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/circle4.jpg">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->



