<div id="background_searches">
  <div id="general_events" class="users_container">
    <div id="main_div">

      <h2>General Event Search</h2>
      <img src="/assets/events.jpg" alt="picture of nyc" title="picture of nyc" class="search_category_images"/>
      <%= render partial: "search_form" %>

      <div class="bubblingG">
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
      </div>
<!--       <div class="results">
        <div id="general_event_results" class="search_box">
        </div>
      </div> -->
      <div id="plate" class="front">
            <textarea class="message">Dear User,
            Click this button.
            </textarea>
            <button class="send"> Send it </button> <br/>
            <div id="bottom">
                <a href="http://codepen.io/meanyack/pen/zkEsx" id="codepen_link"> * </a>
            </div>
        </div>

        <div id="container" class="beginning">
            <div id="left-wing">
                <div class="top_left curvable"> </div>
                <div class="bottom_left curvable"> </div>
                <div class="wing wing1"></div>
                <div class="wing wing2"></div>
            </div>

            <div id="right-wing">
                <div class="top_right curvable"> </div>
                <div class="bottom_right curvable"> </div>
                <div class="wing wing3"></div>
                <div class="wing wing4"></div>
            </div>

        </div>

    </div>
  </div>
</div>
