<div id="background_searches">
  <div id="general_events" class="users_container">
    <div id="main_div">
      <h2>General Event Search</h2>
      <%= render partial: "search_form" %>
      <div class="results">
        <div id="general_event_results" class="search_box">
        </div>
      </div>

    </div>
  </div>
</div>
