<div id="background_searches">
  <div id="general_events" class="users_container">
    <div id="main_div">
      <div class="results general_events">
        <div class="search_box">
          <h2>General Event Search</h2>
          <div id="f1_container">
            <div id="f1_card" class="shadow">
              <div class="front face">
                <img src="/assets/events.jpg" alt="picture of nyc" title="picture of nyc" class="search_category_images"/>
              </div>
              <div class="back face center">
                <p><span class="event">Choose events by date.</span>
                </p>
              </div>
            </div>
          </div>
          <%= render partial: "search_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
