a:hover {
  color: magenta;
}

ul.profile {
  list-style-type: none;
}

ul.profile li {
  margin-left: -10px;
}

h3 {
  text-align: center;
  color: aqua;
}

/* In nav */
#logo {
  font-size: 2em;
  color: aqua;
}

.label {
  color: aqua;
  font-size: 1.1em;
}

/* div stylings for different pages */
#background_users {
  background-image: url('central_park.jpg');
  background-size: cover;
}

#background_users_show {
  background-image: url('nyc-aerial.jpg');
  background-size: cover;
}

#background_searches {
  background-image: url('NewYork.jpg');
  background-size: cover;
}

/* Welcome Page */

div.item {
  background-color: white;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  margin: 0 auto;
}

.marketing {
  padding-top: 50px;
}

img.img-circle {
  display: block;
  margin: 0 auto;
}

.marketing img.img-circle:hover {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  border: 2px solid aqua;
}

.marketing .row {
  width: 1100px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.marketing div.col-lg-4 {
  width: 350px;
}

.marketing .row p, .marketing .row h2 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* Div containers for every page except 'Welcome' */
.users_container {
  width: 700px;
  height: 800px;
  margin: 0 auto;
  opacity: 0.9;
  padding: 5px;
  background-color: silver;
}

#current_user_name {
  width: 300px;
  float: right;
  color: aqua;
  padding: 15px;
}

#main_div {
  width: 600px;
  margin: 0 auto;
}

#main_div_user {
  width: 600px;
  margin: 0 auto;
}

#main_div_user ul {
  margin-left: -40px;
}

#main_div form {
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;
}

#main_div form input {
  width: 200px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#main_div form input[type="submit"] {
  width: 80px;
  background-color: aqua;
}

/* ----- Event Search Results Stylings ------*/
.results {
  position: relative;
  top: 50px;
  width: 600px;
  height: 700px;
  background-color: black;
  color: white;
  opacity: 0.8;
  margin: 0 auto;
  overflow: auto;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
     -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
         box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.search_box {
  width: 600px;
  margin: 0px auto;
  position: relative;
  padding: 20px;
  opacity: 0.8;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
          z-index: 1000;
 -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
         transition: height 0.3s;
}

/* events descriptions */
p.description {
  width: 500px;
  padding-left: 10px;
}

.event_images {
  display: block;
  margin: 0 auto;
}

.fb-send {
  margin-top: 25px;
  margin-left: 65px;
}

footer {
  padding: 10px;
}

#dates {
  text-align: center;
}

#start {
  color: black;
}

#end {
  color: black;
}

